# History files
.Rhistory
# Example code in package build process
*-Ex.R
# R data files from past sessions
.Rdata
.Rproj.user
repdata-data-StormData.csv.bz2
test_rpubscom.html
us_severe_weather.html
us_severe_weather_cache
us_severe_weather_files
